html.orken-mode {
    --primary: #353535;

    --secondary: #FF6B01;
    --secondary-hover: #ff5000;
    --secondary-opacity-half: #ac4313;
    --secondary-hover-opacity: #7b3714;
    --secondary-disabled: #b5430e;

    --backdrop: #0e0e0e;

    --titlebar: var(--primary);

    --scroll: #ccc5bc;
    --scroll-width: 12px;
    --scroll-radius: 8px;

    --logo: #ff9e01;

    --left: #0e0e0e;
    --left-queue: #0e0e0e;
    --left-icons: #ff9e01;

    --navigation: #141414;
    --navigation-text: #fe8304;
    --navigation-select: #e57105;

    --border: #202020;
    --borderWidth: 2px;

    --player: #0e0e0e;
    --player-darker: #0b0b0b;
    --player-slider: #ffffff26;
    --player-slider-progress: #ffffff52;

    --text: #fe8304;
    --small-text: #eb7a09;

    --song-performer: #9a9a9a;
    --song-title: #e2e5e9;
    --song-subtitle: #999999;
    --song-playing: #101010;
    --song-hover: #11111140;

    --item: rgba(26, 26, 26, var(--alpha));
    --item-hover: rgba(47, 47, 47, var(--alpha));
    --item-disabled: #000;

    --field: #1a1a1a;

    --icons: #acacac;
    --icons-hover: #bdbdbd;
    --icons-disabled: #303030;

    --no-cover: var(--text);
    --no-cover-background: #060606;

    --links: #929292;
    --links-active: #ffffff;
    --links-hover: #ffffff;

    --buttons-text: #ffffff;

    --tooltip: var(--secondary);
    --tooltip-text: var(--text);

    --settings-view: #1d1d1d;

    --switch-unchecked: #545454;

    --skeleton-background: rgba(16, 16, 16, var(--alpha));
    --skeleton-highlight: rgba(22, 22, 22, var(--alpha));
}

html.classic-mode.acryl {
    --song-playing: #10101075;
    --backdrop: #0a0a0ad9 !important;
    --settings-view: #1d1d1dd9 !important;
}