html.orken-mode {
    --primary: #1c1c1c; /*212121*/

    --secondary: #FF6B01;
    --secondary-hover: #ff5000;
    --secondary-opacity-half: #ac4313;
    --secondary-hover-opacity: #7b3714;
    --secondary-disabled: #b5430e;

    --backdrop: #0e0e0e;

    --titlebar: var(--primary); 

    --scroll: #ccc5bc;
    --scroll-width: 12px;
    --scroll-radius: 8px;
    --logo: #ff6b01;

    --left: #121212;
    --left-queue: #0e0e0e;
    --left-icons: #ff9e01;

    --navigation: #141414;
    --navigation-text: #ffffff;
    --navigation-select: #e57105;

    --border: #202020;
    --borderWidth: 2px;

    --player: #0e0e0e;
    --player-darker: #0b0b0b;
    --player-slider: #ffffff26;
    --player-slider-progress: #ffffff52;

    --text: #ffffff;
    --small-text: #c9c9c9;

    --song-performer: #9a9a9a;
    --song-title: #FF6B01;
    --song-subtitle: #7b3714;
    --song-playing: #101010;
    --song-hover: #0f0f0f;

    --item: rgba(26, 26, 26, var(--alpha));
    --item-hover: rgba(47, 47, 47, var(--alpha));
    --item-disabled: #000;

    --field: #1a1818;
    --icons: #8a8a8a;
    --icons-hover: #f29966;
    --icons-disabled: #303030;
    --no-cover: var(--text);
    --no-cover-background: #291408;
    --links: #85817f;
    --links-active: #a84207;
    --links-hover: #ed7824;
    --buttons-text: #ffffff;
    --tooltip: var(--secondary);
    --tooltip-text:#ededed;
    --settings-view: #141312;
    --switch-unchecked: #454545;
    --skeleton-background: rgba(11, 11, 11, var(--alpha));
    --skeleton-highlight: rgba(191, 103, 21, var(--alpha));
}